* {
  box-sizing: border-box;
}

body {  
  background-color: #efe9f9;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.page-header__item {
  flex: 0 1 200 px;
}

.page-header__item:first-child {
  flex-shrink: 1;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.nav,main-navigation page-hader__item {
  display: flex;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.table, th,  td {
  border: 1px solid #188b0b;
  border-collapse: collapse;
  padding: 20px;
}

a {
  color: #100f0f;
}

a:hover,
a:focus {
  text-decoration: #c31de9;
}

a:visited {
  color: #281056;
}

a:active {
  color: #cf1313;
}

.navigation-list__item {
  color: #2b2b2b;
  text-decoration: none;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.navigation-list__item::before,
.navigation-list__item::after {
  position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:#bebff5;
    transition: all 0.3s;
}



.navigation-list__item::before {
  left: 0;
  top: 0;
}

.navigation-list__item::after {
  right: 0;
  bottom: 0;
}

.navigation-list__item:hover::before,
.navigation-list__item:hover::after {
  opacity: 1;
  width: 100%;
}



button {
  font-family: italic;
  font-size: 16px;
  background: #adb5e9;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 4px solid(0, 0, 0, 0.3);
}

button:hover,button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #d3e9ad;
  color: #2b2b2b;
}

.button_secondary:hover,button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: auto;
}

.profile span{
  background-color: #bff5be;

}

.page-footer {
  clear: both;
  display: flexbox;
  flex-direction: column;
  text-align: center;
}


.profile__text {
  flex: 1 1 100px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.project-list_item {
  display: inline-block;
  width: 33%;
}

.contact-form h2{
  color: #b23db4;
  font-family: fantasy;
  
}

.contact-form h3{
  color:#b00c79;
  font-family: fantasy;
}

.contact-form {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.contact-form input{
  margin-bottom: 15px;
  font-family: fantasy;
  color:#0e0c0d;
}

.table-about-me {
  margin: 0 auto;
}

.text-about-me {
  text-align: center;
  font-family: fantasy;
}

.about_me,h2{
  text-align: center;
}

.button,button_center {
  border: none;
  display: inline-block;
  font-family: fantasy;
  background-color: #f5cb42;
  color: rgb(6, 5, 5);
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 7px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
  text-align: center;
  margin-top: 15px;
  
}

.button,button_center:hover {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.grid-item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: #ababdc;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item :last-child:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}  

 @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

 @media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto /.0 auto;
  }
  h1 {
    font-size: 22px;
    text-align: center;
  }
}

  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .main-section {
        margin: 10px;
    }
}

.berlin_svg{
   max-width: none;
   margin: auto;
}

.sun {
  animation: 6s color-change infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

